@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: hsl(210, 46%, 95%);
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 2em;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.container {
  max-width: 325px;
}

.article {
  padding: 2.3em 2.15em 1.5em;
  border-radius: 0 0 1em 1em;
  background-color: #fff;
  box-shadow: 0 5px 20px -5px #0003;
}

.header-img {
  display: block;
  border-radius: 1em 1em 0 0;
  width: 100%;
  box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.2);
}

.article-title {
  font-size: 1.05rem;
  line-height: 1.4;
  color: hsl(217, 19%, 35%);
  margin-bottom: 0.8em;
}

.article-text {
  line-height: 1.5;
  color: hsl(214, 17%, 51%);
  font-size: 1.1em;
  margin-bottom: 2.3em;
}

.author-box {
  display: flex;
  align-items: center;
}

.author {
  font-size: 0.85rem;
}

.text-box {
  font-size: 0.74rem;
  letter-spacing: 0.03em;
  margin-left: 1em;
  color: hsl(217, 19%, 35%);
}

.author-img {
  border-radius: 50%;
  width: 45px;
}

.publish-date {
  font-size: 1.1em;
  margin-top: 0.3em;
  color: hsl(212, 23%, 69%);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.share-btn:hover {
  background-color: hsl(217, 19%, 35%);
}

.share-btn {
  padding: 0.55em;
  border-radius: 50%;
  transition: all 0.25s ease;
  background-color: hsl(210, 46%, 95%);
}

.share-btn:hover {
  background-color: hsl(217, 19%, 35%);
}

.share-btn:hover .share-icon {
  fill: #fff;
}

.share-icon {
  fill: hsl(214, 17%, 51%);
}

.share-btn.active .share-icon {
  fill: #fff;
}

.share-btn.active {
  background-color: hsl(214, 17%, 51%);
}

.share {
  display: flex;
  justify-content: center;
  align-items: center;
  position: static;
  z-index: 1;
}

.share-option {
  scale: 0;
  background: hsl(217, 19%, 35%);
  top: -10px;
  bottom: -20px;
  right: -28px;
  left: -28px;
  z-index: -1;
  position: absolute;
  display: flex;
  align-items: center;
  gap: 1.2em;
  padding: 1em 2.5em 1.5em;
  border-radius: 0 0 0.7em 0.7em;
  visibility: hidden;
  transform-origin: bottom;
  transition: all 0.25s ease;
}

.share-option.active {
  scale: 1;
  visibility: visible;
}

.share-option span {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: hsl(212, 23%, 69%);
  margin-right: 0.3em;
}

/* =================
Media queries 
================= */

@media screen and (min-width: 768px) {
  body {
    flex-direction: row;
  }

  .container {
    display: flex;
    max-width: 768px;
  }

  .header-img {
    max-width: 40%;
    border-radius: 1em 0 0 1em;
  }

  .article {
    max-width: 60%;
    border-radius: 0 1em 1em 0;
    padding: 2.3em 3em 2em;
  }

  .article-title {
    font-weight: 700;
    font-size: 1.27rem;
  }

  .footer {
    position: static;
  }

  .share {
    position: relative;
  }

  .share-option {
    bottom: 100px;
    top: -75px;
    left: auto;
    right: auto;
    border-radius: 0.7em;
    padding: 2em;
    box-shadow: 0 5px 20px -5px #0003;
  }

  .share-option::after {
    content: "";
    background: hsl(217, 19%, 35%);
    width: 20px;
    height: 20px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -60%) rotate(45deg);
  }
}
